header {
    background-color: #17161b;
}

#logo {
    margin-left: 2rem;
}

body {
    display: grid;
    position: relative;
    background-color: #f8f4f4e0;
    
}

.search-tabela {
    position: relative;
    display:block;
    padding: 2rem 5rem 1rem 5rem;
    }

.search {
    margin-bottom: 1rem;
    text-align: right;
}

#search {
    width: 14rem;
    height: 1.5rem;
    margin-right: 2px;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    text-align: justify;
}

::placeholder{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#lupa{
    color: #2873af;
    font-size: 1.2rem;
}

#lupa:hover{
    color: #504949;
}

.table-bordered {
    border: 2px solid;
    border-radius:1px;
    border-color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: #000000;
}

thead{
    background-color: #A9A9A9;
}

tbody{
    background-color: #ffffffff;
}

tbody tr:hover{
    background-color: #87b4d82a;
}


#Detalhes{
    text-align: end;
 }
#detalh{
    text-align: end;
}